html{
    background: linear-gradient(135deg, #959595 0%, #1d1d1d 50%, #343434 100%);
}

body{
    background-color: rgba(128, 128, 128, 0);
}

h1{
  text-align: center;
  text-Transform: capitalize;
  margin-bottom: 20px;
  margin-top: 20px;
  color: azure;
}